# Python
backend/venv/
backend/__pycache__/
*.pyc

# Environment files
backend/.env

# Uploads
backend/uploads/

# Node
frontend/node_modules/

# Build files
frontend/dist/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log